
<html>
    <!--<head>-->
        <!--<meta charset="UTF-8">-->
        <!--<title>Grandma Fannie's Secret Recipes</title>-->
        <!--<link type="text/css" rel="stylesheet" href="public/css/main.css" >-->
    <!--</head>-->
    <head>
        <link rel="stylesheet" href="/public/css/main.css" />
        <title>Login</title>
    </head>
    <body>
        <h1> Sooz's Secret Recipes</h1>
        <main>
            Welcome to Sooz's Secret Recipe book
            <a href="/private/secret.html">View the recipes,</a>
            but make sure you log in!
        </main>

        <section class="form-section">
            <h1>Register if you haven't been here before</h1>
                <form action="/auth/register" method="POST">
                    <label>Username: <input name="username" /></label>
                    <label>Password: <input name="password" type="password" /></label>
                    <label>Say Hello: <textarea name="bio" rows="4" cols="80"></textarea></label>
                    <input type="submit" />
                </form>
        </section>

        <section class="form-section">
            <h1>Login if you've already registerd</h1>
                <form action="/auth/login" method="POST">
                    <div>Username: <input name="username" /></div>
                    <div>Password: <input name="password" type="password" /></div>
                    <input type="submit" />
                </form>
        </section>

        <section class="form-section">
            <h1>Logout</h1>
                <form action="/auth/logout" method="POST">
                    <input type="submit" />
                </form>
            <p>Thanks for visiting!</p>
        </section>

    </body>
</html>

