<html>
    <h1>Secret Recipe: Honey Mustard Chicken</h1>
        <p id="italics">Serves 2</p>
        <p class="bigger">Ingredients:</p>
            <ul>
                <li>2 lbs of boneless, skinless chicken breast</li>
                <li>1/4 cup mustard (ideally dijon, but any kind is fine)</li>
                <li>1 tablespoon of oil</li>
                <li>2 tablespoons of honey</li>
                <li>1 tsp thyme (chopped if fresh -best), dry is okay</li>
                <li>salt and peper to taste</li>
            </ul>
        <p class="bigger">Instructions:</p>
            <ol>
                <li>Preheat oven to 325 degrees</li>
                <li>Mix all wet ingredients</li>
                <li>Lightly rinse and pat dry chicken breasts</li>
                <li>Cover chicken with wet ingredients</li>
                <li>Sprinkle thyme on top, just before putting in the oven</li>
                <li>Bake for approximately 20 minutes - check temperature of chicken starting at 15 minutes - don't take
                    out until internal temperature is at least 140 degrees</li>
                <li>Let cool for approx 5 minutes</li>
                <li>Add salt and pepper to taste</li>
                <li>Serve sliced over salad, pasta, rice, or other favorite sides</li>
            </ol>
        <a href="/">Return to the home page to logout</a>
</html>
