<html>
    <head>
        <link rel="stylesheet" href="/public/css/main.css" />
    </head>
    <body>
        <h1>Teh m3m3 st@sh</h1>

        <img src="/images/build-is-broken.jpg" />
        <img src="/images/ie6.jpg" />
        <img src="/images/ie-purpose.png" />
        <img src="/images/callback-hell.png" />
        <img src="/images/works-on-mine.jpeg" />
        <img src="/images/newman.jpg" />
        <img src="/images/maxresdefault.jpg" />
        <img src="/images/js-context.jpg" />
        <img src="/images/bad-luck-curly-boi.jpg" />

        <p>
            <a href="/">home</a>
        </p>
    </body>
</html>
